/* body {
    display:flex;
  }
  
  .delete {
    padding: 10px;
    color: white;
    width: fit-content;
    border-radius: .5rem;
    background-color: FireBrick;
    cursor: pointer;
  }
  
  .cart-product {
    margin: 20px;
    padding: 10px 20px;
    border: solid 1px lightgrey;
    border-radius: 1.2rem;
  } */


 /* * display: block;
 transition-duration: 0.5s;
} */
 
li:hover {
  cursor: pointer;
}
 
ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}
 
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
 
ul li ul li {
  clear: both;
  width: 100%;
}

.wrapper_box1 {
}
.box {
}
.Card_Name {
}
.card_description {
}
.delete {
}